<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificador de idade</title>
    <link rel="stylesheet" href="mycss.css">
</head>
<body>
    <header><h1>Página inicial</h1></header>
    <a href="listar_pessoas.html">Listagem</a>
    <section>
        <div id="form">
            <p>Ano de nascimento: 
                <input type="number" name="txtano" id="txtano" min="0">
            </p>
            <p>Sexo:
                <input type="radio" name="radsex" id="masc" checked>
                <label for="radsex">Masculino</label>
                <input type="radio" name="radsex" id="femi">
                <label for="femi">Feminino</label>
            </p>
                <input type="button" value="verificar" onclick="verificar()"/>
        </div>
        <div id="resul">
            <p>Preencha os dados acima para ver o resultado!</p>
        </div>
        <div id="imagem">
            <img id="foto_pessoa" src="" alt="Foto de uma pessoa">
        </div>
    </section>
    
    <footer><p>&copy;JoelReis</p></footer>

    <script src="ex009.js"></script>
</body>
</html>